:root{
  --couleur-primaire : #a7026a;
  --couleur-noir : #000;
  --couleur-blanc : #FFF;

  --degrade-principal :  linear-gradient(36deg, rgba(167, 2, 154, 0.7) 0%, rgba(167, 2, 154, 0) 106.13%) 100%;
}