h1{
  font-family: var(--font-secondaire);
  font-size: 2.25rem;
  line-height: 43px;
  text-align: left;
  color: var(--couleur-blanc);
}

h2{
  font-family: var(--font-secondaire);
  font-size: 5rem;
  line-height: 96px;
  color: var(--couleur-blanc);
}